# Node.js
node_modules/

# Production
.env

# Build artifacts
dist/
build/

# Logs
*.log
*.txt

# System files
.DS_Store

# IDE / Editor
.idea/
*.code-workspace
*.swp

# Dependency manager files
package-lock.json
yarn.lock
pnpm-lock.yaml

# Tauri
/src-tauri/target/
/src-tauri/tauri.conf.json

# VS Code
.vscode/

# Biome cache
.biome/

# WXT
wxt-artifacts/
